<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SurenDbMySql" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=surenData;user id=root;password=111111;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>